{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Username=postgres;Password=postgres;Database=delivery_tracker;"
  },

  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },

  "SessionSettings": {
    "UserOnlineTimeout": 1,
    "SessionInactiveTimeout": 20
  },

  "SessionTokenSettings": {
    "Key": "mysupersecret_secretkey!123",
    "Issuer": "DeliveryTracker",
    "Audience": "http://localhost:5000",
    "Lifetime": 1440,
    "ClockCkew": 1,
    "RequireHttps": false
  },

  "RefreshTokenSettings": {
    "Key": "mysupersecret_secretkey!123",
    "Issuer": "DeliveryTracker",
    "Audience": "http://localhost:5000",
    "Lifetime": 2880,
    "ClockCkew": 1,
    "RequireHttps": true
  },
  
  "PasswordSettings": {
    "MinLength": 4,
    "MaxLength": 20,
    "AtLeastOneUpperCase": false,
    "AtLeastOneLowerCase": false,
    "AtLeastOneDigit": false,
    "Alphabet": "qwertyuioplkjhgfdsazxcvbbnmQWERTYUIOPASDFGHJKLZXCVBNM1234567890!@#$%^&*()-=!~",
    "SameCharactersInARow": 20
  },

  "InvitationSettings": {
    "Expires": 1440,
    "CodeLength" : 6,
    "Alphabet": "23456789qwertyupasdfghkzxbnmQWERTYUPASDFGHKZXVBNM"
  },

  "NotificationSettings": {
    "FirebaseKey": null,
    "SmsRuKey": null
  }
}
